.product-services {
    padding: 60px 60px;
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    align-items: flex-start; 
  }
  
  .product-services h2 {
    font-family: 'Outfit', sans-serif; /*Make it 'Phonk' for new font*/
    font-size: 42px;
    color: #2c3e50;
    margin-bottom: 1em;
    text-align: left; 
    width: 100%; 
  }
  
  .products {
    display: grid;
    grid-template-columns: repeat(4, 1fr); 
    gap: 30px; 
    max-width: 1200px;
    width: 100%; 
  }
  
  .product-item {
    background-color: white;
    border: 2px solid #ddd;
    padding: 1.5em;
    text-align: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease-in-out;
  }
  
  .product-item:hover {
    transform: translateY(-5px);
  }
  
  .product-item h3 {
    font-family: 'Outfit', sans-serif;
    font-size: 24px;
    color: #333;
    margin-bottom: 1em;
  }
  
  .product-item p {
    color: #666;
    font-family: 'Outfit', sans-serif;
    font-size: 16px;
  }
  
  
  .purple-box {
    background-color: #6c63ff; 
    padding: 15px;
    margin-top: 1em;
    border-radius: 10px;
    color: white;
    font-size: 16px;
    font-family: 'Outfit', sans-serif;
    text-align: center;
    transition: background-color 0.3s ease; 
  }
  
  
  .product-item:hover .purple-box {
    background-color: #4a47e0; 
  }
  